*{
	margin: 0px;
	padding: 0px;
}
body{
	background-color: #1d2173;
	box-sizing: border-box;
}
a{
	color: white;
	text-decoration: none;
	text-align: justify;
}
p{
	color: white;
	text-align: justify;
	font-size: 20px;
}
img{
	width: 100%;
	margin: 2%;
}
h2{
	
}

#area_cabecalho{
	background-position: center;
	height: 300px;
	padding: 15px;
	text-align: center;
	background-repeat: no-repeat;
	background-image: url(../imagens/pac_man.png);
	margin-left: 5%;
	margin-right: 5%;
}
#cor_logo{
	color: #f2e63d;
	padding: 10px;
}
#area_menu{
	padding: 10px;
	text-align: center;
}
#area_menu a:link, #area_menu a:visited{
	color: #bfbbba;
	padding: 8px 12px;
}
#area_menu a:hover{
	color: #f2e63d;
	text-decoration: underline;
	background-color: #3b42bf;
}
#area_conteudo{
	padding: 15px;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 2%;
}
#area_rodape{
	padding-right: 15px;
	padding-left: 15px;
	background-color: black;
	margin-right: 5%;
	margin-left: 5%;
	margin-top: 2%;
	color: white;
	text-align: center;
}
#img{
	width: 30%;
	margin-left: 35%;	
}

.img2{
	width: 60%;
	margin-left: 20%;
}
.postagens{
	background-color: #3d44d9;
	text-align: justify;
	padding: 2%;
	margin-bottom: 2%;
}
.postagens a:hover{
	color: #f2e63d;
	text-decoration: underline;
}
.postagens a:link{
	text-decoration: underline;
}

